<?xml version="1.0"?>
<config>
    <modules>
        <Divido_Pay>
            <version>0.7.9</version>
        </Divido_Pay>
    </modules>

    <adminhtml>
        <layout>
            <updates>
                <divido_pay>
                    <file>divido_pay.xml</file>
                </divido_pay>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <pay>
                <class>Divido_Pay_Model</class>
            </pay>
            <price>
                <class>Divido_Price_Model</class>
            </price>
			<callback>
				<class>Divido_Pay_Model</class>
				<resourceModel>callback_resource</resourceModel>
			</callback>
			<callback_resource>
				<class>Divido_Pay_Model_Resource</class>
				<entities>
                    <lookup>
                        <table>divido_lookup</table>
                    </lookup>
				</entities>
			</callback_resource>
        </models>

        <helpers>
            <pay>
                <class>Divido_Pay_Helper</class>
            </pay>
        </helpers>

        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <updateDefaultProductPlans>
                        <class>Divido_Pay_Model_Observer</class>
                        <method>updateDefaultProductPlans</method>
                    </updateDefaultProductPlans>
                    <clearDividoCache>
                        <class>Divido_Pay_Model_Observer</class>
                        <method>clearCache</method>
                    </clearDividoCache>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>

        <blocks>
            <pay>
                <class>Divido_Pay_Block</class>
            </pay>
            <dividowidget>
                <class>Divido_Widget_Block</class>
            </dividowidget>
        </blocks>

        <resources>
            <divido_pay_setup>
                <setup>
                    <module>Divido_Pay</module>
                    <class>Divido_Pay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </divido_pay_setup>
            <pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pay_write>
            <pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pay_read>
        </resources>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <divido_plan_option />
                        <divido_plan_selection />
                    </product_attributes>
                </item>
            </quote>
        </sales>

    </global>

    <!-- declare default configuration values for this module -->
    <default>
        <payment>
            <pay>
                <active>1</active>
                <model>pay/Standard</model>
                <order_status>processing</order_status>
                <title>Pay in instalments with Divido</title>
                <debug>0</debug>
                <order_create_signed>0</order_create_signed>
            </pay>
        </payment>
    </default>
    <frontend>
        <routers>
            <pay>
                <use>standard</use>
                <args>
                    <module>Divido_Pay</module>
                    <frontName>pay</frontName>
                </args>
            </pay>
        </routers>
        <layout>
            <updates>
                <divido_pay>
                    <file>divido.xml</file>
                </divido_pay>
            </updates>
        </layout>
    </frontend>
</config>
